/* UTILITY */
body {
   background-color: #FAFAFA;
}


/* TOP BAR */
.top-bar {
	background-color: #200062;
	padding: 3px 5px;
	text-align: right;
	color: #ddd;
}

.top-bar span {
	margin-right: 15px;
}

.top-bar i {
	margin-right: 5px;
}

.top-bar a {
	color: #FF0000;
	transition: all .5s ease;
}

.top-bar a:hover {
	color: #fff;
}



/* NAVBAR */
nav,
nav i.material-icons {
	height: 125px;
	line-height: 125px;
	transition: all .5s ease;
}

.nav-wrapper .brand-logo img {
	width: 200px;
	transition: all .5s ease;
}

.nav-wrapper .link {
   color: #000;
   font-weight: 800;
   text-transform: uppercase;
}

.navbar-fixed .brand-logo img {
	width: 100px !important;
}

.navbar-fixed nav,
.navbar-fixed nav i.material-icons {
	height: 60px;
	line-height: 60px;
}

.navbar-fixed .nav-wrapper {
	border: none;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.navbar-fixed {
	margin-top: -31px;
}


/* NAVBAR - DROPDOWN */
.dropdown-content2 li > a, .dropdown-content2 li > span,
.dropdown-content li > a, .dropdown-content li > span {
   color: #000;
   font-weight: 800;
   text-transform: uppercase;
   font-size: 14px;
}

.dropdown-content {
   overflow-y: visible;
}

.dropdown-content2 {
   background-color: #fff;
   margin: 0;
   display: none;
   min-width: 100px;
   overflow-y: auto;
   opacity: 0;
   position: absolute;
   right: 100%;
   top: 50px;
   z-index: 9999;
   -webkit-transform-origin: 0 0;
           transform-origin: 0 0;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.301);           
}

.dropdown-trigger:focus,
.dropdown-content2:focus {
   outline: 0;
 }

.dropdown-content a span {
   color: rgb(63, 63, 63);
   margin-left: 5px;
}

.sidenav {
   width: 75% !important;
   background: linear-gradient(217deg, rgb(21, 18, 112), rgba(6, 5, 80, 0.815) 70.71%),
               linear-gradient(136deg, rgb(255, 0, 0), rgba(230, 15, 15, 0.945) 70.71%);
}

.sidenav img {
   width: 50%;
   margin-top: 25px;
}

.sidenav .collapsible .collapsible-header {
   font-weight: 800;
   text-transform: uppercase;
   color: #FAFAFA;
}

.sidenav .collapsible-1 .collapsible-header {
   padding: 0 20px;
}

.sidenav .collapsible-2 .collapsible-header {
   padding: 0 40px;
}

.sidenav .collapsible-3 .collapsible-header {
   padding: 0 60px;
}

.sidenav .collapsible .collapsible-body {
   background-color: transparent;
}


.page-active {
   color: #ff0000 !important;
}


/* MAIN */
main {
   min-height: 40vh;
}

section {
   padding: 50px 0;
}


.section-schedule {
   padding: 10px 0;
}

/* TITLE SECTION */
.title-section {
   text-transform: uppercase;
   font-weight: 300;
   font-size: 28px;
   letter-spacing: 3px;
   display: block;
   padding: 10px 30px;
   position: relative;
   text-align: center;
   
}

.title-section::before {
   content: '';
   position: absolute;
   width: 60px;
   height: 5px;
   background-color: red;
   right: 0;
   left: 0;
   margin: 30px auto;
}


/* NAVIGASI */
.slider-awards-nav-mobile,
.carousel-testimonial-nav-mobile {
   position: absolute;
   left: 0;
   right: 0;
   margin: 10px auto;
}


.carousel-schedule-toefl-nav-mobile i,
.carousel-schedule-toefl-nav i,
.carousel-courses-nav-mobile i,
.carousel-courses-nav i,
.slider-awards-nav i,
.carousel-awards-nav-mobile i,
.carousel-testimonial-nav-mobile i,
.carousel-testimonial-nav i {
   font-size: 40px;
   background-color: rgb(192, 192, 192);
   color: #ffffff;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   margin: 0 3px;
}


/* INDIKATOR CAROUSEL & SLIDER */
.slider .indicators .indicator-item,
.carousel .indicators .indicator-item {
   height: 10px;
   width: 10px;
   margin: 0 7px;
   background-color: grey !important;
 }
 
 .slider .indicators .indicator-item.active,
 .carousel .indicators .indicator-item.active {
   background-color: #200062 !important;
 }



/* SECTION - FIRST LANDING */
.first-landing {
   position: relative;
   background-color: #200062;
   padding: 10px 10px 20px;
   overflow: hidden;
}

.first-landing::before {
   position: absolute;
   content: '';
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: linear-gradient(217deg, rgba(117, 115, 221, 0.8), rgba(255,0,0,0) 70.71%),
               linear-gradient(127deg, rgba(26, 21, 68, 0.8), rgba(62, 12, 155, 0) 70.71%),
               linear-gradient(336deg, rgba(4, 11, 71, 0.8), rgba(255, 255, 255, 0) 70.71%);
}

.first-landing .jumbotron {
   position: relative;
   z-index: 1;
   color: #FFF;
}

.first-landing .jumbotron h1 {
   font-size: 36px;
}

.first-landing .image-float {
   position: absolute;
}

.first-landing .image-float img {
   position: relative;
   width: 230px;
   transform: rotate(10deg);
   padding: 10px;
   border: 2px solid #FFF;
   border-radius: 10px;
}


/* SECTION - TESTING SERVICE */
.testing-service .title-section {
   font-size: 23px;
}

.testing-service .jumbotron {
   margin-top: 10px;
}

.testing-service .card {
   box-shadow: none;
   border: 1px solid #555;
   cursor: default;
   z-index: 1;
   position: relative;
   height: 170px;
   color: #555;
   overflow: hidden;
}

.testing-service .card-content {
   padding: 10px 15px 20px;
}

.testing-service .card-title {
   font-size: 19px;
   font-style: italic;
   font-weight: 800;
   margin-bottom: 15px !important;
}

.testing-service .card::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   z-index: -1;
   opacity: 0;
   transition: .5s ease;
   -webkit-transition: .5s ease;
   -moz-transition: .5s ease;
   -ms-transition: .5s ease;
   -o-transition: .5s ease;
}

.testing-service .card:hover {
   box-shadow: 0 0 25px rgba(0,0,0,.5);
   color: #000;
   border: 1px solid rgb(214, 214, 214);
}

.testing-service .card-title::before {
   position: absolute;
   content: '';
   width: 55px;
   height: 5px;
   top: 42px;
   left: -15px;
   transition: .5s ease;
   -webkit-transition: .5s ease;
   -moz-transition: .5s ease;
   -ms-transition: .5s ease;
   -o-transition: .5s ease;
}

.testing-service .card:hover .card-title::before { 
   left: 0;
   width: 100%;
   background-color: rgb(214, 214, 214);
}


/* Card TOEF IBT */
.testing-service .card-toef-ibt::before {
   background: linear-gradient(rgba(111, 231, 74, 0.7), rgba(111, 231, 74, 0.7)), url('../img/testing_service/img-1.jpg');
   background-size: cover;
}

.testing-service .card-toef-ibt:hover::before {
   opacity: 1;
}

.testing-service .card-toef-ibt .card-title::before { 
   background-color:rgb(110, 231, 74); 
}


/* Card TOEFL ITP */
.testing-service .card-toefl-itp::before {
   background: linear-gradient(rgba(231, 181, 74, 0.7), rgba(231, 181, 74, 0.7)), url('../img/testing_service/img-2.jpg');
   background-size: cover;
}

.testing-service .card-toefl-itp:hover::before {
   opacity: 1;
}

.testing-service .card-toefl-itp .card-title::before { 
   background-color:rgb(231, 181, 74); 
}


/* Card TOEIC */
.testing-service .card-toeic::before {
   background: linear-gradient(rgba(74, 168, 231, 0.7), rgba(74, 168, 231, 0.7)), url('../img/testing_service/img-3.jpg');
   background-size: cover;
}

.testing-service .card-toeic:hover::before {
   opacity: 1;
}

.testing-service .card-toeic .card-title::before { 
   background-color:rgb(74, 168, 231); 
}


/* Card IELTS */
.testing-service .card-ielts::before {
   background: linear-gradient(rgba(231, 74, 179, 0.7), rgb(231, 74, 179, 0.7)), url('../img/testing_service/img-4.jpg');
   background-size: cover;
}

.testing-service .card-ielts:hover::before {
   opacity: 1;
}

.testing-service .card-ielts .card-title::before { 
   background-color:rgb(231, 74, 179); 
}


/* Card Prediction Test */
.testing-service .card-prediction-test::before {
   background: linear-gradient(rgb(231, 74, 74, 0.7), rgb(231, 74, 74, 0.7)), url('../img/testing_service/img-5.jpg');
   background-size: cover;
}

.testing-service .card-prediction-test:hover::before {
   opacity: 1;
}

.testing-service .card-prediction-test .card-title::before { 
   background-color:rgb(231, 74, 74); 
}



/* SECTION - AWARDS */
.awards {
   margin-top: -50px;
   position: relative;
}

.awards::before {
   position: absolute;
   content: '';
   width: 100%;
   height: 40%;
   background: linear-gradient(217deg, rgba(136, 27, 27, 0.8), rgba(255,0,0,0) 70.71%),
               linear-gradient(127deg, rgba(170, 185, 169, 0.8), rgba(26, 12, 155, 0.651) 70.71%),
               linear-gradient(336deg, rgba(61, 68, 131, 0.8), rgba(197, 195, 195, 0.76) 70.71%);
}

.awards .title-section {
   color: #FFF;
}

.awards .container {
   position: relative;
}

.slider-awards {
   margin-top: 20px;
}

.slider-awards .caption {
   text-align: center;
   height: 85% !important;
   width: 90% !important;
   margin-top: -25px;
   margin-left: -110px;
}

.slider-awards .slides li {
   background: linear-gradient(217deg, rgba(136, 27, 27, 0.8), rgba(255,0,0,0) 70.71%),
               linear-gradient(127deg, rgba(170, 185, 169, 0.8), rgba(26, 12, 155, 0.651) 70.71%),
               linear-gradient(336deg, rgba(61, 68, 131, 0.8), rgba(197, 195, 195, 0.76) 70.71%);
}

.slider-awards .slides .img-awards {
   text-align: center;
   height: 340px;
}

.slider-awards .slides .img-awards img.potrait {
   max-width: 250px;  
}

.slider-awards .slides .img-awards img.landscape {
   max-height: 320px;
}

.carousel-awards-mobile.carousel {
   height: 450px !important;
   position: relative;
}

.carousel-awards-mobile.carousel .card {
   width: 150%;
   box-shadow: none;
   border-radius: 0;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   -ms-border-radius: 0;
   -o-border-radius: 0;
   position: absolute;
   left: 50%;
   transform: translate(-50%, -33%);
   -webkit-transform: translate(-50%, -33%);
   -moz-transform: translate(-50%, -33%);
   -ms-transform: translate(-50%, -33%);
   -o-transform: translate(-50%, -33%);
   background-color: transparent;
}

.carousel-awards-mobile.carousel .card .card-content {
   overflow: hidden;
   padding: 10px;
}

.carousel-awards-mobile.carousel .card .card-content p {
   font-size: 13px;
}

.carousel-awards-mobile .card img.potrait {
   max-width: 60%;
   margin: 0 auto;
}

.carousel-awards-mobile .card img.landscape {
   max-width: 100%;
   margin: 0 auto;
}

.carousel-awards-nav-mobile {
   margin-top: 10px;
}



/* SECTION - TESTIMONIAL */
.testimonial {
   margin-top: -30px;
}


.testimonial .container {
   position: relative;
}

.carousel-testimonial-mobile.carousel,
.carousel-testimonial.carousel {
   height: 330px !important;
}

.carousel-testimonial-mobile .card,
.carousel-testimonial .card {
   margin-top: -25px;
   box-shadow: none;
   height: 250px;
   position: relative;
   border-radius: 0;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   -ms-border-radius: 0;
   -o-border-radius: 0;
   -o-border-radius: 0;
}

.carousel-testimonial-mobile img,
.carousel-testimonial img {
   width: 70px;
   padding: 5px;
   position: absolute;
   margin: -35px 15px;
}

.carousel-testimonial .img-person-1,
.carousel-testimonial-mobile .img-person-1 { 
   background-color: #7CB342;
}

.carousel-testimonial-mobile .img-person-2,
.carousel-testimonial .img-person-2 { 
   background-color: #FFCA28; 
}

.carousel-testimonial-mobile .img-person-3,
.carousel-testimonial .img-person-3 { 
   background-color: #B0BEC5; 
}

.carousel-testimonial-mobile .img-person-4,
.carousel-testimonial .img-person-4 { 
   background-color: #CE93D8; 
}

.carousel-testimonial-mobile .img-person-5,
.carousel-testimonial .img-person-5 { 
   background-color: #64B5F6; 
}

.carousel-testimonial-mobile .img-person-6,
.carousel-testimonial .img-person-6 { 
   background-color: #80CBC4; 
}

.carousel-testimonial-mobile .img-person-7,
.carousel-testimonial .img-person-7 { 
   background-color: #FFCC80; 
}


.carousel-testimonial-mobile .img-person-8,
.carousel-testimonial .img-person-8 { 
   background-color: #E57373; 
}


.carousel-testimonial-mobile .img-person-9,
.carousel-testimonial .img-person-9 { 
   background-color: #F48FB1; 
}


.carousel-testimonial-mobile .card-content,
.carousel-testimonial .card-content {
   padding: 40px 20px 10px;
   font-style: italic;
   font-weight: 300;
   overflow: hidden;
   height: 200px;
   font-size: 12px;
}

.carousel-testimonial-mobile .name-person,
.carousel-testimonial .name-person {
   padding: 10px 20px;
   display: block;
   text-align: right;
   font-weight: 400;
   font-style: italic;
}



/* SECTION - CAROUSEL COURSES */
.courses::before {
   position: absolute;
   content: '';
   width: 100%;
   height: 50%;
   background: linear-gradient(217deg, rgb(33, 0, 98), rgba(43, 75, 180, 0.397) 70.71%),
               linear-gradient(127deg, rgba(57, 6, 158, 0.8), rgba(2, 70, 133, 0.568) 70.71%),
               linear-gradient(336deg, rgba(22, 4, 58, 0.8), rgba(0, 0, 0, 0.486) 70.71%);
   margin-top: -14px;
}

.courses .container {
   position: relative;
}

.carousel-courses.carousel {
   margin-top: 20px;
   position: relative;
   height: 350px !important;
}

.carousel-courses.carousel .carousel-item {
   width: 280px;
   margin-top: -110px;
   opacity: 1 !important;
}

.carousel-courses .card {
   box-shadow: none;
   height: 320px;
}

.carousel-courses .card .card-image {
   height: 150px;
   overflow: hidden;
}

.carousel-courses .card .card-image .card-title {
   background-color: rgba(255, 255, 255, 0.726);
   width: 90%;
   height: 70%;
   font-weight: 800;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -35%);
   color: #200062;
   text-align: center;
   padding: 30px;
   font-size: 18px;
   text-transform: uppercase;
   line-height: 20px;
   transition: .3s ease-in-out;
   -webkit-transition: .3s ease-in-out;
   -moz-transition: .3s ease-in-out;
   -ms-transition: .3s ease-in-out;
   -o-transition: .3s ease-in-out;
   -webkit-transform: translate(-50%, -35%);
   -moz-transform: translate(-50%, -35%);
   -ms-transform: translate(-50%, -35%);
   -o-transform: translate(-50%, -35%);
}

.carousel-courses .card:hover .card-title {
   width: 100%;
   height: 100%;
}

.carousel-courses .card .card-content {
   font-weight: 300;
   overflow: hidden;
   height: 200px;
   text-align: center;
}

.carousel-courses .btn-sign-up {
   position: absolute;
   left: 50%;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   display: none;
}


.carousel-courses .card:hover .btn-sign-up {
   display: block;
}

.carousel-courses-nav-mobile {
   margin-top: 10px;
}


/* SECTION - SCHEDULE TOEFL */
.schedule-toefl {
   position: relative;
}

.schedule-toefl::before {
   position: absolute;
   content: '';
   width: 100%;
   height: 30%;
   /* background: linear-gradient(to top, rgb(33, 0, 98), rgba(33, 0, 98, 0.973) 100%); */
   top: 45px;
}

.schedule-toefl .title-section {
   font-size: 20px;
}

.schedule-toefl .container {
   position: relative;
}

.carousel-schedule-toefl.carousel {
   position: relative;
   height: 230px !important;
}

.carousel-schedule-toefl.carousel .carousel-item {
   margin-top: -25px;
   opacity: 1 !important;
}

.carousel-schedule-toefl .card {
   box-shadow: none;
   height: 190px;
   border: 2px solid rgb(33, 0, 98);
   border-top: none;
}

.carousel-schedule-toefl .card .card-title {
   height: 60px;
   font-size: 40px;
   font-weight: 800;
   color: #FFF;
   text-shadow: 0 0 1px #000;
   text-align: center;
   background-color: rgb(33, 0, 98);
}

.carousel-schedule-toefl .card .card-content {
   font-weight: 600;
   overflow: hidden;
   height: 100px;
   text-align: left;
   font-size: 16px;
   color: #210062f5;
   padding: 10px;
}

.carousel-schedule-toefl .card .card-content i {
   margin-right: 5px;
}

.carousel-schedule-toefl-nav-mobile {
   margin-top: 10px;
}

.carousel-schedule-toefl a {
   color: #210062f5;
}


/* MODAL */
/* Modal Schedule TOEFL */
.modal.modal-schedule-toefl {
   /* max-height: 150% !important; */
   /* width: 450px; */
   /* overflow-y: hidden; */
}

.modal.modal-schedule-toefl .carousel {
   height: 430px !important;
}

.modal-schedule-toefl .carousel-in-modal img {
   width: 100%;
   height: 100%;
}

.modal.modal-schedule-toefl .btn-sign-up {
   background-color: #200062;
}

.modal.modal-schedule-toefl .modal-close {
   position: absolute;
   top: 0;
   right: 0;
   background-color: #cacaca;
   color: #FFF;
}


/* PAGE CONTENT */
.page-content {
   margin-top: 30px;
}

.page-content .clear {
   clear: both;
}

.page-content img {
   padding: 10px;
}

.page-content i.material-icons {
   color: transparent;
   -webkit-text-stroke: 2px #E57373;
   font-size: 86px;
}

.page-content .pesan {
   margin-top: -10px;
   font-weight: 300;
}

.page-content table {
   border-collapse: collapse;
   border-width: 0;
   display: block;
   overflow: auto;
}

.page-content td,
.page-content th {
   border: 1px solid;
   padding: .5em 1em;
}


/* FOOTER */
footer {
   background-image: linear-gradient(to right, rgba(33, 0, 98, 0.932),rgba(33, 0, 98, 0.87)), 
                     url('../img/lti_galeri/lti-2.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   padding: 20px 0 20px;
   min-height: 250px;
   margin-top: 50px;
   position: relative;
}

footer .contact-us,
footer .links {
   color: #FAFAFA;
   text-transform: uppercase;
   margin-top: 15px;
   text-align: center;
}

footer .contact-us h5,
footer .links h5 {
   margin-bottom: 20px;
   position: relative;
}

footer .links h5::before {
   position: absolute;
   content: '';
   width: 45px;
   height: 5px;
   background-color: rgba(218, 23, 23, 0.911);
   left: 0;
   right: 0;
   margin: 0 auto;
   bottom: -10px;
}

footer .links a {
   display: block;
   color: #FAFAFA;
   transition: .3s ease;
   -webkit-transition: .3s ease;
   -moz-transition: .3s ease;
   -ms-transition: .3s ease;
   -o-transition: .3s ease;
}

footer .links a:hover {
   color: rgba(218, 23, 23, 0.733);
}

footer .contact-us {
   text-align: center;
}

footer .contact-us h5 {
   margin-bottom: 25px;
}

footer .contact-us h5::before {
   position: absolute;
   content: '';
   width: 45px;
   height: 5px;
   background-color: rgba(218, 23, 23, 0.911);
   left: 0;
   right: 0;
   margin: 0 auto;
   bottom: -10px;
}

footer .contact-us p {
   text-transform: none;
   line-height: 8px;
}

footer .footer-copyright {
   font-size: 14px;
}

footer .footer-copyright .sosmed {
   font-size: 28px;
   text-align: center;
}

footer .footer-copyright .sosmed a {
   transition: .3s ease;
   -webkit-transition: .3s ease;
   -moz-transition: .3s ease;
   -ms-transition: .3s ease;
   -o-transition: .3s ease;
}

footer .footer-copyright .sosmed a:hover {
   color: rgba(218, 23, 23, 0.911);
}

footer .footer-copyright .copyright {
   font-size: 14px;
   text-align: center;
   margin-top: -25px;
   color: #039BE5;
}




/* TABLET AND DOWN VERSION */
@media screen and (max-width: 992px) {

   /* PAGE CONTENT */
   .page-content img {
      float: none !important;
      text-align: center !important;
      width: 100% !important;
   }

   .page-content p {
      float: none !important;
      text-align: center !important;
   }

}






/* DESKTOP VERSION */
@media screen and (min-width: 992px) {

   /* UTILITY */
   .container {
      width: 80%;
   }


   /* MAIN */
   /* TITLE SECTION */
   .title-section {
      display: inline;
   }

   .title-section::before {
      width: 40px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      left: -20px;
   }


   /* NAVIGASI */
   .carousel-schedule-toefl-nav,
   .carousel-courses-nav,
   .slider-awards-nav,
   .carousel-testimonial-nav {
      position: absolute;
      right: 15px;
      bottom: 0;
   }


   /* INDICATOR CAROUSEL & SLIDER */
   .slider .indicators .indicator-item,
   .carousel .indicators .indicator-item {
      height: 15px;
      width: 15px;
      margin: 0 10px;
   }


   /* SECTION - FIRST LANDING */
   .first-landing {
      padding: 50px 30px;
   }

   .first-landing .jumbotron h1 {
      font-size: 42px;
   }


   /* SECTION - TESTING SERVICE */
   .testing-service .title-section {
      font-size: 28px;
   }

   .testing-service .card {
      height: 250px;
   }


   /* SECTION - AWARDS */
   .awards::before {
      display: none;
   }
   
   .awards .title-section {
      color: #000;
   }

   .slider-awards-nav {
      bottom: -5px;
   }

   .slider-awards .caption.left-align {
      text-align: left;
   }

   .slider-awards .caption.right-align {
      text-align: right;
   }


   /* SECTION - COURSES */
   .courses::before {
      height: 40%;
      margin-top: -32px;
   }

   .carousel-courses.carousel {
      height: 450px !important;
   }

   .carousel-courses .card {
      height: 380px;
   }

   .carousel-courses .card .card-image .card-title {
      height: 85%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      font-size: 28px;
      line-height: 30px;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
   }

   .carousel-courses .card:hover .card-title {
      width: 100%;
      height: 100%;
   }


   /* SECTION - SCHEDULE TOEFL */
   .schedule-toefl .title-section {
      font-size: 28px;
   }

   .carousel-schedule-toefl.carousel {
      height: 280px !important;
   }

   .carousel-schedule-toefl.carousel .carousel-item {
      margin-top: -10px;
   }

   .schedule-toefl::before {
      height: 40%;
      top: 10px;
   }


   /* SECTION - TESTIMONIAL */
   .testimonial {
      margin-top: 0;
   }

   .carousel-testimonial.carousel {
      height: 400px !important;
   }

   .carousel-testimonial .card {
      height: 270px;
      margin-top: 80px;
   }

   .carousel-testimonial .card-content {
      padding: 60px 20px 10px;
      height: 200px;
   }

   .carousel-testimonial img {
      width: 100px;
      margin: -50px 15px;
   }


   /* MODAL */
   /* Modal Schedule TOEFL */
   .modal.modal-schedule-toefl {
      max-height: 87%;
      width: 450px;
      overflow-y: hidden;
   }

   .modal.modal-schedule-toefl .carousel {
      height: 500px !important;
   }
   


   /* FOOTER */
   footer .contact-us,
   footer .links {
      text-align: left;
   }

   footer .contact-us {
      text-align: right;
   }

   footer .links h5::before {
      left: -150px;
   }

   footer .contact-us h5::before {
      right: -420px;
   }
}